# Ambientes virtuais Python
venv/
.env/
__pycache__/
*.pyc

# Configurações locais
*.log
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache do Jupyter (se usar no futuro)
.ipynb_checkpoints/

# VSCode / IDEs
.vscode/
.idea/
